<!-- Navigation -->
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Easy - Learning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('courses') }}">All Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if not app.user %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="btn btn-secondary">S'identifier</a>
                    </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('img/avatar/') ~ app.user.image }}" alt="{{ app.user.firstname }}" class="avatar-mini">&nbsp;&nbsp;
                        {{ app.user.firstname }} {{ app.user.lastname }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mon compte</a>
                        <a class="dropdown-item" href="#">Modifier mon compte</a>
                        <a class="dropdown-item" href="#">Modifier mon mot de passe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mes commentaires</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('app_logout') }}" class="dropdown-item">Se déconnecter</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
<!-- End Navigation -->